body {
  padding-top: 50px;
}

.container {
    /* border: 2px solid grey; */
    border-radius: 5px;
    padding: 1.5rem;
}

.section {
    display: flex;
    margin-bottom: 1.5rem;
}

.section:last-child {
    margin-bottom: 0;
}

.section__indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    min-width: 2.5rem;
    min-height: 2.5rem;
    max-width: 5%;
    align-self: start;
}

.section__content {
    width: 100%;
    margin-left: 2rem;
}
